html, body {
    height: 100%;
    min-height: 100%;
}

.resume-section {
    overflow-y: scroll;
}


.profile-section {
    background: black;
    color: white;
}

ul.professional-links>li {
    list-style-type: none;
    margin: 6px;
    float: left;
}

ul.professional-links a {
    color: white;
    font-size: 26px;
    padding: 0;
    transition: color 0.25s ease-in;
}

ul.professional-links a:hover {
    color: grey;
}

ul span.degree-type {
    font-size: 22px;
}

/* Link Styles */
a {
    text-decoration: none !important;
}

a.bootstrap {
    color: #7c47c8;
}

a.fontawesome {
    color: #228be6;
}